

/* Checkout */
.checkout {
    margin: 40px 0;
}
.checkout .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.checkout form {
    width: 45%;
}
.checkout form h2 {
    padding: 8px 13px;
    background: var(--main-color);
    text-transform: capitalize;
}
.checkout form .address,
.checkout form .coupon {
    background: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.checkout form .inputs {
    display: flex;
    flex-direction: column;
    padding: 7px 13px;
}
.checkout form .inputs label {
    color: var(--dark-color);
    font-size: 15px;
    text-transform: capitalize;
}
.checkout form .inputs input {
    margin: 5px 0 13px;
    padding: 7px 7px;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.checkout form .inputs input:focus {
    border-color: var(--main-color);
}
.checkout form .inputs input::placeholder {
    font-size: 13px;
}
.checkout .button_div button {
    width: 100%;
    background: var(--main-color);
    color:var(--dark-color);
    border: 2px solid var(--main-color);
    padding: 13px 0;
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.checkout .button_div button:hover {
    background: transparent;
    color: var(--main-color);
}


.checkout .order_summary {
    width: 45%;
    background: #fff;
    padding: 0 14px;
}
.checkout .order_summary h1 {
    border-bottom: 1px solid var(--border-color);
    padding: 14px 0;
    margin-bottom: 14px;
    font-size: 30px;
}
.checkout .order_summary .items .item_cart {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
.checkout .order_summary .items .item_cart img {
    width: 150px;
}
.checkout .order_summary .items .item_cart h4 {
    color: var(--txt-color);
    margin-bottom: 14px;
    font-size: 20px;
}
.checkout .order_summary .items .item_cart p {
    color: var(--dark-color);
    font-size: 16px;
}
.checkout .order_summary .price_cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkout .order_summary .quantity {
    display: flex;
    align-items: center;
    gap: 15px;
}
.checkout .order_summary .quantity button {
    padding: 3px 10px;
    background: transparent;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    outline: none;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}
.checkout .order_summary .quantity button:hover {
    background: var(--main-color);
}
.checkout .order_summary .quantity span {
    font-size: 20px;
}
.checkout .order_summary .total {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkout .order_summary .total p {
    margin: 0 !important;
    font-size: 21px;
    font-weight: bold;
    color: var(--dark-color);
    text-transform: capitalize;
}
.checkout .order_summary .total span {
    font-weight: bold;
    font-size: 19px;
    color: var(--dark-color);
}
.checkout .order_summary .button_div {
    border-top: 1px solid var(--border-color);
    padding: 25px 0;
}
.checkout .order_summary .button_div button {
    width: 100%;
    background: var(--main-color);
    color:var(--dark-color);
    border: 2px solid var(--main-color);
    padding: 13px 0;
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.checkout .order_summary .button_div button:hover {
    background: transparent;
    color: var(--main-color);
}



/* REsponsive */
@media (max-width:992px) {
    .checkout .container {
        flex-direction: column-reverse;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }
    .checkout form {
        width: 70%;
    }
    .checkout .order_summary {
        width: 70%;
    }
}

@media (max-width:610px) {
    .checkout form {
        width: 100%;
    }
    .checkout .order_summary {
        width: 100%;
    }
}

@media (max-width:480px) {
    .checkout .order_summary h1 {
        font-size: 18px;
    }
    .checkout .order_summary .items .item_cart h4 {
        font-size: 15px;
    }
    .checkout .order_summary .items .item_cart img {
        width: 100px;
    }
    .checkout .order_summary .items .item_cart p {
        font-size: 16px;
    }
    .checkout .order_summary .total {
        font-size: 18px;
    }
    .checkout .order_summary .button_div button {
        font-size: 15px;
    }
    .checkout .button_div button {
        font-size: 15px;
    }
    .checkout form h2 {
        font-size: 18px;
    }
}