<!-- Features -->
<div class="features">
    <div class="container">
        <div class="feature_item">
            <img src="assets/images/features1.png" alt="">
            <div class="text">
                <h4>Free Shipping</h4>
                <p>Free Shipping on all order</p>
            </div>
        </div>
        
        <div class="feature_item">
            <img src="assets/images/features2.png" alt="">
            <div class="text">
                <h4>Free Shipping</h4>
                <p>Free Shipping on all order</p>
            </div>
        </div>

        <div class="feature_item">
            <img src="assets/images/features3.png" alt="">
            <div class="text">
                <h4>Free Shipping</h4>
                <p>Free Shipping on all order</p>
            </div>
        </div>

        <div class="feature_item">
            <img src="assets/images/features4.png" alt="">
            <div class="text">
                <h4>Free Shipping</h4>
                <p>Free Shipping on all order</p>
            </div>
        </div>

        <div class="feature_item">
            <img src="assets/images/features5.png" alt="">
            <div class="text">
                <h4>Free Shipping</h4>
                <p>Free Shipping on all order</p>
            </div>
        </div>
    </div>
</div>



<!-- Banner -->
<div class="banner">
    <div class="container">
        <div class="banner_img">
            <div class="glass_hover">
                <a href="#"></a>
                    <img src="assets/images/banner/banner-1.jpg" alt="">
            </div>
        </div>

        <div class="banner_img">
            <div class="glass_hover">
                <a href="#"></a>
                    <img src="assets/images/banner/banner-2.jpg" alt="">
            </div>
        </div>

        <div class="banner_img">
            <div class="glass_hover">
                <a href="#"></a>
                    <img src="assets/images/banner/banner-3.jpg" alt="">
            </div>
        </div>
    </div>
</div>