<app-header (cartClicked)="onCartClicked()"></app-header>
<div *ngIf="isComponentVisible">
    <app-cart (close)="hideComponent()"></app-cart>
</div>


<section class="login sec_form">
    <div class="form_container">
        <p class="title">Join US</p>

        <form action="" class="form">

            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Confirm Password">
            
            <button class="form_btn">Sign Up</button>
        </form>

        <p class="sign-up-label">
            Already Have Account? <a routerLink="/login" class="sign-up-link">Login</a>
        </p>


        <div class="buttons-container">
            <div class="apple-login-button">
                <i class="fa-brands fa-apple"></i>
                <span>Sign Up with Apple</span>
            </div>

            <div class="google-login-button">
                <i class="fa-brands fa-google"></i>
                <span>Sign Up with Google</span>
            </div>
        </div>



    </div>
</section>


<app-footer></app-footer>
