

<section class="slider">
    <div class="container">
        <div class="side_bar">
            <h2><i class="fa-solid fa-bars"></i> Shop by Derparment</h2>
            <a href="#">All Categories</a>
            <a href="#">Best Seller Products</a>
            <a href="#">New Arrivals</a>
            <a href="#">Top 10 Offers</a>
            <a href="#">Phones & Tablet</a>
            <a href="#">Electronics & Digital</a>
            <a href="#">Fashion & Clothing</a>
            <a href="#">Jewelry & Watches</a>
            <a href="#">TV & Audio</a>
        </div>

        <!-- Slider -->
        <div id="carousel-1" class="owl-carousel owl-theme">
            <div class="item"><h4><img src="assets/images/slider-01.jpg" alt=""></h4></div>
            <div class="item"><h4><img src="assets/images/slider-02.jpg" alt=""></h4></div>
            <div class="item"><h4><img src="assets/images/slider-03.jpg" alt=""></h4></div>
        </div>
    </div>
</section>